@font-face {
  font-family: "iconfont"; /* Project id 3682990 */
  src: url('iconfont.woff2?t=1675062247709') format('woff2'),
       url('iconfont.woff?t=1675062247709') format('woff'),
       url('iconfont.ttf?t=1675062247709') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiantou_xiangyou_o:before {
  content: "\eb94";
}

.icon-gouwuche:before {
  content: "\e73d";
}

.icon-wangluotiaodushitu:before {
  content: "\e69f";
}

.icon-lanzi:before {
  content: "\e63d";
}

.icon-robot-solid:before {
  content: "\e749";
}

.icon-chuangjianrenwu:before {
  content: "\e64b";
}

.icon-dabaoxiazai:before {
  content: "\e611";
}

.icon-save:before {
  content: "\e7bf";
}

.icon-edit:before {
  content: "\e687";
}

.icon-message:before {
  content: "\e78a";
}

.icon-table:before {
  content: "\e808";
}

.icon-switch:before {
  content: "\e768";
}

.icon-tianjia:before {
  content: "\e610";
}

.icon-zhuijiatiqu:before {
  content: "\e6fb";
}

.icon-yujing:before {
  content: "\e726";
}

