// @import '~iview/src/styles/index.less';
@import '~view-design/src/styles/index.less';

@menu-dark-title: #001529;
@menu-dark-active-bg: #000c17;
@layout-sider-background: #001529;

@font-size-base: 12px;
.ivu-menu {
    font-size: 14px;
}
.ivu-menu-item {
    font-size: 14px;
}
.ivu-icon {
    vertical-align: middle;
}